#logo {
    mix-blend-mode: multiply;
    width: 60px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 4px;
}
.column {
    flex: 50%;
    padding: 0 4px;
}

.clanok {
    margin: auto;
}

.searchTlacidlo {
    color: red;
}

.novinkySlide {
    margin: auto;
    width: 60%;
    height: 20%;
}
